.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 2.5em;
}

main {
  background-color: #222;
}

h1 {
  font-family: Bradley Hand;
}

/* ~~~~~~~~~~ Image style ~~~~~~~~~~ */
.image-container {
  height: 300px;
  width: 300px;
  overflow: hidden;
  min-width: 200px;
  border-radius: 3px;
  border: 1px solid rgba(42, 37, 37, 0.94);
  box-shadow: 0px 0px 5px #989898;
}

img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
}

.card2 {
  height: 400px;
  width: 400px;
  /* border: 1px solid black; */
  border-radius: 8px;
  box-shadow: 1px 1px 10px #888888;
  min-width: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description {
  color: ghostwhite;
  padding: 25px;
}

/* ~~~~~~~~~~ Button style ~~~~~~~~~~ */
.under-image {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-bottom: 50px;
  margin-top: 15px;
}

.likes {
  height: 40px;
  width: 40px;
  background-color: rgb(248, 248, 255, .1);
  border-radius: 3px;
  border: 1px solid rgb(248, 248, 255, .1);
}

.likes:hover {
  background-color: rgb(49, 194, 238);
}

.likes-text {
  display: flex;
  color: ghostwhite;
}

.delete {
  height: 50px;
  width: 50px;
}

.delete {
  background-color: crimson;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.delete:hover {
  background-color: rgb(239, 95, 124);
}

.deleteBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.editBtn-container {
  margin-left: auto; /* pushes to the far right of under-image container */
}

.editBtn {
  background-color: rgb(75, 65, 85);
  border-radius: 5px;
  border: 1px solid rgb(90, 103, 115);
}

.editBtn:hover {
  background-color: rgb(100, 100, 100);
}

/* ~~~~~~~~~~ Form style ~~~~~~~~~~ */

.closeBtn {
  background-color: rgb(157, 157, 237);
  width: 20px;
}

.addBtn, .toggleBtn {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.addBtn:hover {
  transform: scale(1.3);
  border-radius: 5px;
  cursor: grab;
}

.toggleBtn {
  background-color: azure;
  height: 52px;
  width: 65px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 1px 1px 8px #888888;
}

.add-form {
  border: 2px solid black;
  border-radius: 5px;
  height: 220px;
  width: 40%;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 50px;
  width: 100%;
  background-color: rgb(170, 180, 181);
  font-size: 14px;
  color: white;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
  text-align: center;
}

#input::placeholder {
  color: rgb(103, 80, 80);
}

.add-image {
  height: 60px;
  background-color: rgb(157, 157, 237);
}

.add-image:hover {
  background-color: rgb(185, 185, 260);
  cursor: grab;
}

.close-button:hover {
  transform: scale(1.3);
}

/* ~~~~~~~~~~Scroll to top button ~~~~~~~~~~ */
#scroll-button {
  position: fixed;
  left: 0;
  top: 95%; /* Adjust this value to position the button vertically */
  transform: translateY(-50%);
  background-color: #464748;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  width: 5px;
  height: 20px;
  cursor: pointer;
  /*display: none;*/ /* Hide the button by default */
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll-button button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

#scroll-button button:hover {
  background-color: rgb(123, 156, 241);
  color: ghostwhite;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
