.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

main {
  background-color: #222;
}

/* ~~~~~~~~~~ Image style ~~~~~~~~~~ */
.image-container {
  height: 400px;
  width: 400px;
  overflow: hidden; /* Hides overflow of image */
  min-width: 200px;
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
}

.card2 {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  min-width: 200px;
}

.description {
  border: 2px solid black;
}

/* ~~~~~~~~~~ Button style ~~~~~~~~~~ */
.under-image {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-bottom: 50px;
}

.likes {
  height: 50px;
  width: 50px;
}

.likes-text {
  display: flex;
}

.delete {
  height: 50px;
  width: 50px;
}

/* ~~~~~~~~~~ Form style ~~~~~~~~~~ */

.addBtn {
  display: flex;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  background-color: aquamarine;
}

.add-form {
  border: 2px solid black;
  border-radius: 5px;
  height: 200px;
  width: 50%;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

input {
  height: 30px;
  width: 100%;
  background-color: rgb(170, 180, 181);
  font-size: 14px;
  color: white;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
}

#input::placeholder {
  color: rgb(103, 80, 80);
}

.add-image {
  height: 60px;
  background-color: rgb(157, 157, 237);
}

.description {
  width: 100%;
}