.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

img {
  height: 130px;
  width: 130px;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}