.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

main {
  background-color: #222;
}

/* ~~~~~~~~~~ Image style ~~~~~~~~~~ */
.image-container {
  height: 400px;
  width: 400px;
  overflow: hidden; /* Hides overflow of image */
  min-width: 200px;
  border-radius: 3px;
  border: 1px solid rgb(78, 76, 76);
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
}

.card2 {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  min-width: 200px;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description {
  color: ghostwhite;
  padding: 25px;
}

/* ~~~~~~~~~~ Button style ~~~~~~~~~~ */
.under-image {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-bottom: 50px;
}

.likes {
  height: 40px;
  width: 40px;
  background-color: rgb(248, 248, 255, .1);
  border-radius: 3px;
  border: 1px solid rgb(248, 248, 255, .1);
}

.likes:hover {
  background-color: rgb(49, 194, 238);
}

.likes-text {
  display: flex;
  color: ghostwhite;
}

.delete {
  height: 50px;
  width: 50px;
}

.delete {
  background-color: crimson;
  border-radius: 50%;
}

.delete:hover {
  background-color: rgb(239, 95, 124);
}

.deleteBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* ~~~~~~~~~~ Form style ~~~~~~~~~~ */

.closeBtn {
  background-color: rgb(157, 157, 237);
  width: 20px;
}

.addBtn {
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(208, 143, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn:hover {
  background-color: rgb(88, 223, 169);
  transform: scale(1.5);
  border-radius: 5px;
  cursor: grab;
}

.toggleBtn {
  background-color: azure;
  height: 50px;
  width: 50px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
  border-radius: 5px;
}

.add-form {
  border: 2px solid black;
  border-radius: 5px;
  height: 220px;
  width: 40%;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 50px;
  width: 100%;
  background-color: rgb(170, 180, 181);
  font-size: 14px;
  color: white;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
  text-align: center;
}

#input::placeholder {
  color: rgb(103, 80, 80);
}

.add-image {
  height: 60px;
  background-color: rgb(157, 157, 237);
}
