.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 2.5em;
}

main {
  background-color: #222;
}

h1 {
  font-family: Bradley Hand;
}

/* ~~~~~~~~~~Scroll to top button ~~~~~~~~~~ */
#scroll-button {
  position: fixed;
  left: 0;
  top: 95%; /* Adjust this value to position the button vertically */
  transform: translateY(-50%);
  background-color: #464748;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin-left: 10px;
  width: 5px;
  height: 20px;
  cursor: pointer;
  /*display: none;*/ /* Hide the button by default */
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll-button button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

#scroll-button button:hover {
  background-color: rgb(123, 156, 241);
  color: ghostwhite;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
