.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

img {
  height: 200px;
  width: 200px;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 4 items wide, adjust column width as needed */
  gap: 10px;
}

.card2 {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.description {
  border: 2px solid black;
}